@tailwind base;
@tailwind components;
@tailwind utilities;

/* light mode */
:root { 
  --bg: #F3ECF7;
  --bg-input: #f3ecf754;
  --bg-image: url('/bg-light.jpg');
  --text: rgb(59, 60, 63);
  --placeholder: rgba(59, 60, 63, 0.75);
  --border: #a25fd8;
  --glow: #104080;
  --header: #4c117d;
  --tab: #f3ecf76e;
  --tab-hover: #f3ecf7cb;
  --tab-active: #b278ff; 
  --tab-border: #3b1080; 
}

/* dark mode */
[data-theme='dark'] {
  --bg: #1A171C;
  --bg-input: #1A171C54;
  --bg-image: url('/bg-dark.jpg');
  --text: #e6eef8;
  --placeholder: #e6eef8b9;
  --border: #382f3d;
  --glow: #2574DD;
  --header: #A333FF;
  --tab: #f3ecf731; 
  --tab-hover: #f3ecf748; 
  --tab-active: #3b1080; 
  --tab-border: #8f39ff; 
}

html, body, #root {
  min-height: 100%;
}

body {
  color: var(--text);
  background-color: var(--bg);
  background-image: var(--bg-image);
  background-attachment: scroll;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.card {
  background: rgba(255, 255, 255, 0.03);
}

@keyframes pulse-reverse {
  0%, 100% { opacity: 0.5; }  /* start transparent */
  50% { opacity: 1; }         /* become fully visible */
}

.animate-pulse-reverse {
  animation: pulse-reverse 1.5s ease-in-out infinite;
}
